
<!-- send Email -->
 @if (steps==1) {
   <section class="w-[70%] mx-auto my-20 bg-slate-100 p-10 shadow-sm">

    <h1 class=" text-2xl mb-3">Forget Password</h1>
<form [formGroup]="sendEmail" (ngSubmit)="submitEmail()">
   
    <div class="relative my-3 ">
        <input formControlName="email" type="email" id="user_email" class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none  dark:border-gray-600 dark:focus:border-green-500 focus:outline-none focus:ring-0 focus:border-green-600 peer" placeholder=" " />
        <label for="user_email" class="absolute text-sm text-gray-500  duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-green-600 peer-focus:dark:text-green-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">Email</label>
    </div>

    @if(this.sendEmail.get('email')?.errors && this.sendEmail.get('email')?.touched){
        <div class="bg-red-100 border border-red-700 rounded-lg p-3 text-red-800">
    <p *ngIf="this.sendEmail.get('email')?.errors?.['required']">Email is required</p>
    <p *ngIf="this.sendEmail.get('email')?.errors?.['email']"> Enter avalid email </p>
  
</div>
}
    <button    type="submit" class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Send Email</button>

</form>

</section>
 
 }


<!-- verify code -->
@if (steps==2){
    
<section class="w-[70%] mx-auto my-20 bg-slate-100 p-10 shadow-sm">

    <h1 class=" text-2xl mb-3">Forget Password</h1>
<form [formGroup]="verifyCode" (ngSubmit)="submitCode()">
   
    <div class="relative my-3 ">
        <input formControlName="resetCode" type="text" id="restCode" class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none  dark:border-gray-600 dark:focus:border-green-500 focus:outline-none focus:ring-0 focus:border-green-600 peer" placeholder=" " />
        <label for="restCode" class="absolute text-sm text-gray-500  duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-green-600 peer-focus:dark:text-green-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">Code</label>
    </div>
    @if(this.verifyCode.get('resetCode')?.errors && this.verifyCode.get('resetCode')?.touched){
        <div class="bg-red-100 border border-red-700 rounded-lg p-3 text-red-800">
    <p *ngIf="this.verifyCode.get('resetCode')?.errors?.['required']">restCode is required</p>
    <p *ngIf="this.verifyCode.get('resetCode')?.errors?.['pattern']"> Enter avalid restcode </p>
  
</div>
}
    <button    type="submit" class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Send Code</button>

</form>

</section>

}


<!-- rest pass -->
@if (steps==3){
  <section class="w-[70%] mx-auto my-20 bg-slate-100 p-10 shadow-sm">

    <h1 class=" text-2xl mb-3">Forget Password</h1>
<form [formGroup]="restPass" (ngSubmit)="submitNewpass()">
   
    <div class="relative my-3 ">
        <input formControlName="email" type="text" id="restCode" class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none  dark:border-gray-600 dark:focus:border-green-500 focus:outline-none focus:ring-0 focus:border-green-600 peer" placeholder=" " />
        <label for="restCode" class="absolute text-sm text-gray-500  duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-green-600 peer-focus:dark:text-green-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">Code</label>
    </div>

    @if(this.restPass.get('email')?.errors && this.restPass.get('email')?.touched){
        <div class="bg-red-100 border border-red-700 rounded-lg p-3 text-red-800">
    <p *ngIf="this.restPass.get('email')?.errors?.['required']">Email is required</p>
    <p *ngIf="this.restPass.get('email')?.errors?.['email']"> Enter avalid email </p>
  
</div>
}
    <div class="relative my-3 ">
        <input formControlName="newPassword" type="password" id="user_password" class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none  dark:border-gray-600 dark:focus:border-green-500 focus:outline-none focus:ring-0 focus:border-green-600 peer" placeholder=" " />
        <label for="user_password" class="absolute text-sm text-gray-500  duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-green-600 peer-focus:dark:text-green-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">new password </label>
    </div>

    @if(this.restPass.get('newPassword')?.errors && this.restPass.get('newPassword')?.touched){
        <div class="bg-red-100 border border-red-700 rounded-lg p-3 text-red-800">
    <p *ngIf="this.restPass.get('newPassword')?.errors?.['required']">new password is required</p>

  
</div>
}
    <button    type="submit" class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">rest password </button>

</form>

</section>  
}

