<section class="w-[70%] mx-auto my-20 bg-slate-100 p-10 shadow-sm">
    <h1 class="font-semibold text-2xl mb-3">Register Form</h1>
    <p class="text-red-600 font-semibold text-center ">{{errmsg}}</p>
<form [formGroup]="registerForm" (ngSubmit)="submitform()">
    <div class="relative my-3 ">
        <input formControlName="name" type="text" id="username" class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:border-gray-600 dark:focus:border-green-500 focus:outline-none focus:ring-0 focus:border-green-600 peer" placeholder=" " />
        <label for="username" class="absolute text-sm text-gray-500  duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-green-600 peer-focus:dark:text-green-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">Name</label>
      
    </div>
    @if(this.registerForm.get('name')?.errors && this.registerForm.get('name')?.touched){
            <div class="bg-red-100 border border-red-700 rounded-lg p-3 text-red-800">
        <p *ngIf="this.registerForm.get('name')?.errors?.['required']">Name is required</p>
        <p *ngIf="this.registerForm.get('name')?.errors?.['maxlength']"> Name maxlength 10 </p>
        <p *ngIf="this.registerForm.get('name')?.errors?.['minlength']"> Name minlength 3 </p>
    </div>
    }

    <div class="relative my-3 ">
        <input formControlName="email" type="email" id="user_email" class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none  dark:border-gray-600 dark:focus:border-green-500 focus:outline-none focus:ring-0 focus:border-green-600 peer" placeholder=" " />
        <label for="user_email" class="absolute text-sm text-gray-500  duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-green-600 peer-focus:dark:text-green-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">Email</label>
    </div>
    @if(this.registerForm.get('email')?.errors && this.registerForm.get('email')?.touched){
        <div class="bg-red-100 border border-red-700 rounded-lg p-3 text-red-800">
    <p *ngIf="this.registerForm.get('email')?.errors?.['required']">Email is required</p>
    <p *ngIf="this.registerForm.get('email')?.errors?.['email']"> Enter avalid email </p>
  
</div>
}
    <div class="relative my-3 ">
        <input formControlName="phone" type="tel" id="user_phone" class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:border-gray-600 dark:focus:border-green-500 focus:outline-none focus:ring-0 focus:border-green-600 peer" placeholder=" " />
        <label for="user_phone" class="absolute text-sm text-gray-500  duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-green-600 peer-focus:dark:text-green-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">Phone</label>
    </div>
    @if(this.registerForm.get('phone')?.errors && this.registerForm.get('phone')?.touched){
        <div class="bg-red-100 border border-red-700 rounded-lg p-3 text-red-800">
    <p *ngIf="this.registerForm.get('phone')?.errors?.['required']">phone is required</p>
    <p *ngIf="this.registerForm.get('phone')?.errors?.['pattern']"> Enter avalid phone number </p>
  
</div>
}
    <div class="relative my-3 ">
        <input formControlName="password" type="password" id="user_password" class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:border-gray-600 dark:focus:border-green-500 focus:outline-none focus:ring-0 focus:border-green-600 peer" placeholder=" " />
        <label for="user_password" class="absolute text-sm text-gray-500  duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-green-600 peer-focus:dark:text-green-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">Password</label>
    </div>
    @if(this.registerForm.get('password')?.errors && this.registerForm.get('password')?.touched){
        <div class="bg-red-100 border border-red-700 rounded-lg p-3 text-red-800">
    <p *ngIf="this.registerForm.get('password')?.errors?.['required']">password is required</p>
    <p *ngIf="this.registerForm.get('password')?.errors?.['pattern']">password must includeone(letter, number,and one special character)  </p>
  
</div>
}


    
@if(registerForm.getError('mismatch')&& registerForm.get('rePassword')?.touched){
    <div class="bg-red-100 border border-red-700 rounded-lg p-3 text-red-800">
<p> password confirmation is incorrect </p>


</div>
}



    <div class="relative my-3 ">
        <input formControlName="rePassword" type="password" id="confirmpassword" class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:border-gray-600 dark:focus:border-green-500 focus:outline-none focus:ring-0 focus:border-green-600 peer" placeholder=" " />
        <label for="confirmpassword" class="absolute text-sm text-gray-500  duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-green-600 peer-focus:dark:text-green-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">ConfirmPassword</label>
    </div>

    
    @if(this.registerForm.get('rePassword')?.errors && this.registerForm.get('rePassword')?.touched){
        <div class="bg-red-100 border border-red-700 rounded-lg p-3 text-red-800">
    <p *ngIf="this.registerForm.get('rePassword')?.errors?.['required']">confirm password is required</p>
  
  
</div>
}
    <button     type="submit" class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
    @if (isloading) {
        <i class="fa fa-spinner fa-spin"></i>
    }
           Submit</button>

</form>
</section>
<app-footer></app-footer>